
    .navbar-brand{
        font-family: 'Carter One', cursive;
        /* font-family: 'Play', sans-serif; */
        font-size: 45px;
    }

    .nav-link{
        color: #cc5500;
    }
    .link {
        color: white;
    }


    a{
        color: #cc5500;
        text-decoration: none;
    }

    .sectionTitle{
        color: #cc5500;
        font-size: 50px;
        font-family: 'Play', sans-serif;
        
    }

    i{
        padding: 3px;
        float: right;
        
    }

    #aboutIcon {
        align-content: center;
        margin: 0 auto;
    }

    .aboutMe{
        background-color:#f9f9f9;
        border: 5px solid grey;
        margin: 0;
        height: auto;
        padding: 5% 5%;
        font-family: 'News Cycle', sans-serif;
        
    
    }

    #resume{
        margin: 10% 0;
        text-align: right;
    
    }

    .conIcon{
        height: 225px;
        width: auto;
    }
    .contactDiv{
        
        margin: 0 auto;
    }

    #icons{
        margin: 0 auto;
        color: white;
        float: right;
    }

    .itMe {
        float: left;
        margin: 0px 10px;
    }

    .contactForm {
        color: black;
    }

    .nameBox {
        width: 100%;
        margin: 10px 0px;
    }

    .emailBox {
        width: 100%;
        margin: 10px 0px;
    }

    .messageBox {
        width: 100%;
        height: 125px;
        margin: 10px 0px;

    }

    .row{
        margin: 0 auto;
    }

    .portfolioIcon{
        height: 250px;
        width: 300px;
        margin: 0;
        padding: 0;
    }

    .portfolioLabel {
        background-color: #cc5500;
        color: white;
        width: 300px;
        text-align: center;
        font-family: 'Play', sans-serif;
        
    }

    .col-sm {
        margin:0;
        padding: 0;
    }
    .col-lg{
        margin: 3% auto;
        align-content: center;
    }

    .footer {
        height: 50px;
        width: 100%;
        color: #ccc;
        text-align: center;
        background-color: #666666;
        border-top: 10px #4aaaa5 solid; 
        padding: 0px;
        position: fixed;
        left: 0;
        bottom: 0;
        
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Icon Size */
        overflow: auto; /* Enable scroll if needed */
        background-color: none /* Fallback color */
        background-color: none /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
        background-color: none;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-size: 25px;
        align-self: center;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* header {
        position: relative;
        background-color: black;
        height: 75vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
      } */
      
      video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 30%;
        min-height: 30%;
        width: 150%;
        height: 150%;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
      
      .container {
        position: relative;
        z-index: 2;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
      }

    