
.navbar-brand{
    font-family: 'Carter One', cursive;
    /* font-family: 'Play', sans-serif; */
    font-size: 45px;
}

.nav-link{
    color: #cc5500;
}
.link {
    color: white;
}


a{
    color: #cc5500;
    text-decoration: none;
}

.sectionTitle{
    color: #cc5500;
    font-size: 50px;
    font-family: 'Play', sans-serif;
    
}

i{
    padding: 3px;
    float: right;
    
}

#aboutIcon {
    align-content: center;
    margin: 0 auto;
}

.aboutMe{
    background-color:#f9f9f9;
    border: 5px solid grey;
    margin: 0;
    height: auto;
    padding: 5% 5%;
    font-family: 'News Cycle', sans-serif;
   
}

#resume{
    margin: 10% 0;
    text-align: center;
}



#icons{
    margin: 0 auto;
    color: white;
    float: right;
}

.itMe {
    float: left;
    margin: 0px 10px;
}

.contactForm {
    color: black;
}

.nameBox {
    width: 100%;
    margin: 10px 0px;
}

.emailBox {
    width: 100%;
    margin: 10px 0px;
}

.messageBox {
    width: 100%;
    height: 125px;
    margin: 10px 0px;

}

.row{
    margin: 0 auto;
}

.portfolioIcon{
    height: 250px;
    width: 300px;
}

.portfolioLabel {
    background-color: #cc5500;
    color: white;
    width: 300px;
    text-align: center;
    font-family: 'Play', sans-serif;
    
}

.col-sm {
    margin:1% 0;
}


.footer {
    height: 50px;
    width: 100%;
    color: #ccc;
    text-align: center;
    background-color: #666666;
    border-top: 10px #4aaaa5 solid; 
    padding: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    
}
